<h2>{{.Notification.Title}}</h2>
<h3>Example of message with html markup</h3>
<p>Some <b>bold text</b>.</p>
<a href="http://cuteimages.net/data/2015/6/little-ginger-cutest-cuteimages.net.jpg">Do you like cats?</a>
<p>Your message:<pre>{{.Msg}}</pre></p>
<p>Embeded links:</p>
<ul>
    {{range .Notification.Links}}
    <li><a href="{{.URL}}">{{.Title}}</a></li>
    {{end}}
</ul>
